:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(223, 225, 224);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  text-align: left;
  padding: 20px 20px 20px 20px;
}

h2 {
  margin-top: 50px;
  padding-left: 20px;
  font-weight: bold;
}

label {
  padding-left: 20px;
  padding-bottom: 10px;
}

.newKeyword {
  color: #897830;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f8faf8;
  ;
}

.logo {
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
}

.logoImage {
  max-width: 100px;

}

.carousel-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.bookThumbnail {
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  width: 300px;
  height: 350px;
  margin: 20px 20px 20px 20px;
  display: inline-block;
  overflow-wrap: normal;
}

h3 {
  font-size: large;
  text-align: left;
  font-weight: bold;
  padding-top: 10px;
  justify-content: center;
}

p {
  text-align: left;
  display: flex;
  padding-bottom: 20px;
}

.thumbnailPicture {
  display: flex;
  width: 200px;
  height: 150px;
  margin: 0 auto;
}

.bookThumbnail:hover {
  background-color: #89793061;
}

.btn-outline-secondary {
  --bs-btn-color: #897830;
  --bs-btn-border-color: #897830;
  --bs-btn-hover-bg: #897830;
  --bs-btn-hover-border-color: #897830;
  --bs-btn-active-bg: #897830;
  --bs-btn-active-border-color: #897830;
  --bs-btn-disabled-color: #897830;
  --bs-btn-disabled-border-color: #897830;
}