:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding-left: 40px;

  color-scheme: light dark;
  color: #f8faf8;
  background-color: #f8faf8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.sticky-top {
  background-color: #f8faf8;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f8faf8;
  ;
}

button {
  background-color: #897830;
  color: #f8faf8;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}

button:hover {
  background-color: #959593;

}

.homeText {
  text-align: center;
}

.aboutPage {
  max-width: 100ch;
}

.bookThumbnail {
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  width: 300px;
  height: 500px;
  margin: 20px 20px 20px 20px;
  overflow-wrap: normal;
  -ms-grid-row-align: center;
  overflow: hidden;

}

h3 {
  font-size: large;
  text-align: left;
  font-weight: bold;
  padding-top: 10px;
}

p {
  text-align: left;
  display: flex;
  padding-bottom: 10px;
}

.thumbnailPicture {
  display: flex;
  max-width: 60%;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.bookThumbnail:hover {
  background-color: #89793061;
}

.thumbnailTitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.btn-outline-secondary {
  --bs-btn-color: #897830;
  --bs-btn-border-color: #897830;
  --bs-btn-hover-bg: #897830;
  --bs-btn-hover-border-color: #897830;
  --bs-btn-active-bg: #897830;
  --bs-btn-active-border-color: #897830;
  --bs-btn-disabled-color: #897830;
  --bs-btn-disabled-border-color: #897830;
}

.carousel-container {
  width: 300px;
  display: flex;
  margin-left: auto;
  margin-right: auto;

}

.newKeyword {
  color: #897830;
}

.landingPage {
  display: flex;
}


.library {
  margin-top: 50px;
}

.descriptionText {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  align-items: center;
  flex-basis: 50%;
}


.bookList {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 20px;
  justify-content: center;

}


@media (max-width: 1000px) {
  .bookList {
    grid-template-columns: repeat(2, 300px);
  }

}

@media (max-width: 500px) {
  .bookList {
    grid-template-columns: repeat(1, 300px);
  }

  .landingPage {
    display: block;
  }

}

.filters,
.sortingOptions,
.chosenFilter {
  display: block;
}

.aboutPage {
  padding: 50px 50px 50px 50px;
}

.largePicture {
  max-height: 478px;
  max-width: 318px;
  display: flex;
  padding: 20px 20px 20px 20px;

}

.singleDisplay {
  display: inline;
}

.title {
  text-align: left;
  margin-top: 30px;
}

.description {
  text-align: left;
  font-family: sans-serif;
  padding-right: 40px;
  margin-bottom: 0;
}

.row {
  display: flex;
}


.bookRow {
  display: flex;
}

.infoBtn,
.cartBtn {
  margin-top: 50px;
  margin-left: 10px;
}